<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Решение квадратных уравнений</title>
</head>
<body>
<p><h2>Чтобы решить квадратное уравнение, введите его коэффициенты ниже, где <em>a*x<sup>2</sup>+b*x+c</em></h2></p>
<form action="" method="post">
    <p> <label> Коэффициент a: </label> <input type="text" name="num_1"> </p>
    <p> <label> Коэффициент b: </label> <input type="text" name="num_2"> </p>
    <p> <label> Коэффициент c: </label> <input type="text" name="num_3"> </p>
    <p> <input type="submit" value="Получить ответ"> </p>
</form>
<h2>{{ans}}</h2>
</body>
</html>